.img-viewer {
  flex: 500px 1 1;
  position: relative;
  height: 100%;
}
.img-viewer.transparent {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cg fill='000000' fill-opacity='0.2'%3E%3Cpath fill-rule='evenodd' d='M0 0h12v12H0V0zm12 12h12v12H12V12z'/%3E%3C/g%3E%3C/svg%3E");
}
.img-viewer.dark {
  background: #000;
}
.img-viewer.light {
  background: #fff;
}
.img-viewer canvas {
  margin: 0;
  padding: 0;
  display: block;
  border: none;
  max-width: 100%;
  max-height: 100%;
  min-height: 100px;
}
.img-viewer__item {
  position: absolute;
  box-sizing: border-box;
  border: 1px dashed black;
}
.img-viewer.dark .img-viewer__item {
  border-color: #fff;
}
.img-viewer__item:hover,
.img-viewer__item.selected {
  background-color: rgba(33, 150, 243, 33%);
  border-color: red !important;
  border-width: 2px;
}
