.presets {
  display: flex;
  flex-direction: row;
  height: 50px;
  align-items: center;
}

.presets__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
}

.presets__list li {
  border: 1px solid lightskyblue;
  margin-right: 8px;
  border-radius: 3px;
  padding: 2px 4px;
  cursor: pointer;
}

.presets__list .presets__selected {
  background: lightskyblue;
}
